<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <header>
    <nav>
      
        <% if user_signed_in? %>  <!-- ログインしている場合 -->
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'btn logout' %>
        <% else %>  <!-- ログインしていない場合 -->
          <p><%= link_to 'サインイン', new_user_session_path, class:'btn signin' %></p>
          <p><%= link_to 'サインアップ', new_user_registration_path, class:'btn signup' %></p>
        <% end %>
      
    </nav>
  </header>

    <%= yield %>
    <% if flash[:notice] %>
  <div class="flash flash-notice">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="flash flash-alert">
    <%= flash[:alert] %>
  </div>
<% end %>
  </body>
</html>
